{
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": ["eslint:recommended", "prettier", "standard-with-typescript"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "script",
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "@typescript-eslint/space-before-function-paren": "off"
  }
}
